.wrap{
    width: 1980px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
}


.box1{
position: absolute;
width: 100px;
height: 100px;
left: 365px;
top: 40px;

background: #000000;
}

.box2{
position: absolute;
width: 100px;
height: 100px;
left: 665px;
top: 40px;

background: #000000;
}

.box3{
position: absolute;
width: 300px;
height: 300px;
left: 665px;
top: 340px;

background: #000000;
}

.box4{
position: absolute;
width: 200px;
height: 200px;
left: 965px;
top: 640px;

background: #000000;
}

.box5{
position: absolute;
width: 200px;
height: 200px;
left: 1165px;
top: 840px;

background: #000000;
}

.box6{
position: absolute;
width: 100px;
height: 100px;
left: 465px;
top: 740px;

background: #000000;
}

.box7{
position: absolute;
width: 200px;
height: 200px;
left: 465px;
top: 140px;

background: #000000;
}

.box8{
position: absolute;
width: 100px;
height: 100px;
left: 965px;
top: 240px;

background: #000000;
}

.box9{
position: absolute;
width: 200px;
height: 200px;
left: 1365px;
top: 40px;

background: #000000;
}

