.nav_wrap {
    
    height: 80px;
    background-color: #111111;
    padding: 0 270px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: white;

    .list {
        display: flex;
        font-size: 20px;
        font-weight: bolder;
        gap: 85px;
        cursor: pointer;
        position: relative;
    }

}